<div class="groupbuy-block" x-data="groupbuy">

  <button class="groupbuy--btn" type="button" @click.debounce="addToGroupbuy()">
    <svg class="groupbuy--svg" viewBox="0 0 24 24" stroke-width="2" stroke="#000" :fill="wanttobuy ? '#000': '#fff' ">
      <path d="M12 21.35l-1.45-1.32C5.4 15.73 2 12.27 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.77-3.4 7.23-8.55 11.53L12 21.35z"/>
    </svg>

    <span class="groupbuy--text">
      {% if block.settings.text == blank %}
        Join Group Buy
      {% else %}
        {{ block.settings.text }}
      {% endif %}
    </span>
  </button>

</div>

<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('groupbuy', () => ({
            init(){
              fetch(this.appUrl + "api/groupbuy"+"?customerId={{ customer.id }}&productId={{ product.id }}&shop={{ shop.permanent_domain }}")
                  .then(response => response.json())
                  .then(result => {
                      if(result.data.length > 0){
                        this.wanttobuy = true;
                      }
                  })
                  .catch(error => console.log('error', error));
            },
            wanttobuy: false,
            appUrl: "https://barrel-searched-terry-spatial.trycloudflare.com/",
            addToGroupbuy() {
                // TODO: send data to database save groupbuy
                {%  unless customer  %}
                  // If customer is not login, show an alert to login
                  alert('Please login to add to groupbuy');
                  return;
                {% endunless %}

                var formdata = new FormData();
                formdata.append("customerId", "{{ customer.id }}");
                formdata.append("productId", "{{ product.id }}");
                formdata.append("shop", "{{ shop.permanent_domain }}");
                formdata.append("_action", "CREATE");

                // If product is already in groupbuy, remove it
                if(this.wanttobuy){
                  this.wanttobuy = false;
                  // update formdata _action to delete
                  formdata.set("_action", "DELETE");
                }

                var requestOptions = {
                  method: 'POST',
                  body: formdata,
                  redirect: 'follow'
                };

                fetch(this.appUrl + "api/groupbuy", requestOptions)
                    .then(response => response.json())
                    .then(result => {
                        if(result.wanttobuy){
                          this.wanttobuy = true;
                        }else{
                          this.wanttobuy = false;
                        }
                    })
                    .catch(error => console.log('error', error));


            }
        }))
    })
</script>


<style>
  .groupbuy-block{
    display: flex;
    justify-content: center;
    max-width: 44rem;
  }
  .groupbuy--btn{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  .groupbuy--svg{
    width: 2rem;
    height: 2rem;
  }
</style>

{% schema %}
{
  "name": "Group Buy button",
  "target": "section",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "product",
      "autofill": true
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Join Group Buy"
    }
  ]
}
{% endschema %}

